# Drop Server & Database Configuration
POSTGRES_USER=drop
POSTGRES_PASSWORD=drop
DATABASE_URL=postgres://drop:drop@drop-postgres:5432/drop
EXTERNAL_URL=http://localhost:3000/

# Optional: IGDB Metadata Provider
# IGDB_CLIENT_ID=
# IGDB_CLIENT_SECRET=
